body {
  background-color: white;
}

.wrap{
  width:300px;
  white-space:normal; 
}

.container {
  width: calc(100% * 0.5);
  height: calc(190px * 0.3);
  position: relative;
}

.frame {
  width: 500px;
  height: 200px;
  position: absolute;
  transform: scale(0.5);
  transform-origin: 0 0;
  margin-top: -10px;
}

