body {
  background-color: white;
}

.title-main {
  font-size: 6vw;
  text-align: center;
}

.subtitle {
  font-size: 1.5vw;
  text-align: center;
}

.title {
  font-size: 3vw;
  text-align: center;
}

.text {
  /* width: 50vw; */
  white-space: normal;
  font-size: 2vw;
  max-width: 50vw;
  text-align: center;
  /*
  inline-size: 150px;
  overflow-wrap: break-word;
  */
}

.image-alignment {
  text-align: center;
}

.image {
  width: 50vw;
  height: auto;
}

/* =========  UL classes ========== */

.nameSpan {
  font-weight: bold;
}

/* ================================== */
